<nav class="navbar navbar-inverse navbar-static-bottom" style="margin-bottom:0px; margin-top: 20px;">
  <div class="container">
	<div class="navbar-header">
      
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" STYLE="padding:8px;"><img src="/data/img/head.png">YOUR NAVY</a>
	</div>
          <div class="navbar-collapse collapse" id="myNavbar1"> 
      <ul class="nav navbar-nav">
        <li><a href="/data/about/contact_us/">Contact Us</a></li>
	<li><a href="#">Disclaimer : this is a demo site and not the orignal</a></li>
      </ul>
    </div>
  </div>
</nav>