  <div class="jumbotron sty1" STYLE="border: 6px groove GREEN;">
<h2>About Me:</h2>

<P>Designed and Maintained by cooldude1995</p>
</div>
<div class="container-fluid">
    <div class="row">
	<div class="col-lg-8 sty1" STYLE="background:lavender; border: 6px groove GOLD;">
           <h3>Contact</h3>
           <p>EMAIL : cooldude@mymail.com</p>
	   
        </div>
        <div class="col-lg-4 sty1"STYLE="background:lavender;border: 6px groove BLUE;">
           <h3>Sites Designed</h3>
           <ul class="list-group">
             <li class="list-group-item">Indian Navy</li>
             <li class="list-group-item">More Comin Soon.....</li>
           </ul>
    	</div>
    </div>
</div>